<br>


<div class="container">
    <form [formGroup]="formulario"
    (ngSubmit)="salvarVinculoTs()">
    <div class="card">
      <div class="card-header">
       Orientador
      </div>
      
        
        <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="matriculaInput">Matrícula</label>
                  <select  type="text"
                         class="form-control"
                         id="matriculaInput"
                         placeholder="Matrícula"
                         formControlName="matriculaOrientadorV"
                         >
                        <option *ngFor="let item1 of orientador ">
                            {{item1.matriculaOrientador}}
                        </option>
                      </select>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group">
                  <label for="nomeCompletoInput">Nome Completo</label>
                  <select  type="text"
                         class="form-control"
                         id="nomeCompletoInput"
                         placeholder="Nome Completo"
                         formControlName="nomeCompletoOrientador"
                         
                         >
                          <option *ngFor="let item4 of orientador " >
                              {{item4.nomeOrientador}}
                          </option>
                         </select>
                </div>
              </div>
            </div>
            </div>
        
        </div>
        

<br>
         
                <div class="card">
                    <div class="card-header">
                     Estagiário
                    </div>

                    <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="matriculaInput">Matrícula</label>
                  <select  type="text"
                         class="form-control"
                         id="matriculaInput"
                         placeholder="Matrícula"
                         formControlName="matricula"
                         >
                         <option *ngFor="let item2 of estagiario " >
                            {{item2.matricula}}
                         </option>
                         </select>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group">
                  <label for="nomeCompletoInput">Nome Completo</label>
                  <select  type="text"
                         class="form-control"
                         id="nomeCompletoInput"
                         placeholder="Nome Completo"
                         formControlName="nomeCompleto"
                         
                         >
                        <option *ngFor="let item2 of estagiario">

                          {{item2.nomeCompleto}}
                            
                        </option>
                        </select>
                </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                <div class="form-group">
                  <label for="dataInicialInput">DATA INICIO</label>
                  <input type="text"
                         class="form-control"
                         id="dataInicialInput"
                         placeholder="Data inicial"
                         formControlName="dataI">
              </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                  <label for="dataFinalInput">DATA FIM</label>
                  <input type="text"
                         class="form-control"
                         id="dataFinalInput"
                         placeholder="Data FInal"
                         formControlName="dataF">
                </div>
                </div>
                
                <div class="col-sm-4 ">
                    <button type="button"
                      
                            class="btn btn-primary" (click)="salvarVinculoTs()">Adicionar</button>

                    <button type="submit"
                            class="btn btn-success"  >Cancelar</button>
                          </div>
                </div>
                
              </div>
            </div>
            </form>
            </div>
          
         
         
          <br>


          <div class="container"></div>
              <div class="card">
                  <div class="card-body">
              <div class="table-responsive" >
                  <table class="table table-striped table-bordered table-hover table-condensed table table-condensed">
                    <thead> 
                    <tr>
                        <th>Matricula Orientador</th>
                      <th>Matricula Estagiário</th>
                      <th>Nome Completo</th>
                      <th>Açao</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item3 of orientadorM ">
                        <td>{{matricula}}</td>
                        <td>{{item3.matricula}}</td>
                        <td>{{item3.nomeCompleto}}</td>
                        <td>
                          <a routerLink="/vincular-orientador" 
                            (click)="excluir(item5.id)"></a> 
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  </div>
                </div>



       
   