<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [class.active] = "menuLink=== home" 
      (click)="menuLink='home'"
       href="#">HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active] = "menuLink=== estagiario" 
        (click)="menuLink='estagiario'" 
        href="#">ESTÁGIARIOS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active] = "menuLink=== orientadores" 
        (click)="menuLink='orientadores'" 
        href="#">ORIENTADORES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active] = "menuLink=== consulta" 
        (click)="menuLink='consulta'"
         href="#">CONSULTAS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active] = "menuLink=== relatorios" 
        (click)="menuLink='relatorios'" 
        href="#">RELATÓRIOS</a>
    </li>
  </ul>

  <div [ngSwitch]="menuLink">
        <div *ngSwitchCase="'estagiario'">
            <app-itens></app-itens>
        </div>

  </div>